<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>מחוץ לקופסא: גאדג'טים | מתנות מקוריות</title>
<link rel = "icon" type = "image/png" href = "/images/outofthebox_favicon.ico">

<!-- JQUERY (load the JQUERY framework from a CDN) -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>-->

<!—CSS/JS (load bootstrap framework from a CDN)-->

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
    body { 
		 padding-left: 0%;
		 padding-right: 0%;
		}

		

</style>

