<!DOCTYPE html>
<html lang="en" >

<!-- views/about.ejs -->
<style>
p {
  text-align: center;
   font-size:30px;
   color:red;
}
</style>
		

<body  id="body"  >

 <div id="aboutDiv"  onload="myFunction()" class="container" style=" padding-right: 80px; direction: rtl;"> 

  <p>
    אנחנו ב - rebar מאמינים שהדברים הקטנים
	<br>
	הם אלו שעושים את ההבדל
	<br>
    עצירה אחת, ולו רק לרגע אחד קטן וטוב,
	<br>
	שלי עם עצמי, 
	<br>
	הוא רגע ענקי.
</p>
  
<figure>
  <a href="https://youtu.be/wj6Tq_5MDiI" data-size="16x17">
          <img  alt="picture" src="https://www.rebar.co.il/filestock/img/img_1488460853515-0.jpg" class="img-fluid" width="400" height="600" >
        </a>
		</figure>
</div> 
<% include loader %> 

</body>
</html>

	